.disponible{
    background-color: rgb(133, 253, 133);
}
table{
    text-align: center;
}
input{
    max-width: 30px;
    border: none;
    text-align: center;
    align-content: center;
    background-color: rgba(128, 128, 128, 0.015);
}
button{
    align-items: stretch;
    background-color: rgb(133, 253, 133);
}
