<div class="modal-body">
    <h1 class="fs-5 fw-bold ms-5 mt-5">Viajes disponibles</h1>
    <hr>
    <div class="table-responsive-container">
        <table class='table text-center m-0 mb-1'>
            <thead class="table-dark text-center fw-bold text-warning">
                <tr>
                    <th>Usuario</th>
                    <th>Salida</th>
                    <th>Destino</th>
                    <th>Día</th>
                    <th>Horario</th>
                    <th>Lugares</th>
                    <th>Mascota</th>
                    <th>Precio</th>
                    <th>Disponible</th>
                    <th>Reservar lugares</th>
                <tr>
            </thead>
            <tbody>
                <tr *ngFor="let viaje of viajes" [ngClass]="{'disponible':viaje.disponible}">
                    <td><img width="50" class="img.thumbnail" [src]="viaje.images" [alt]="viaje.salida"></td>
                    <td>{{viaje.salida}}</td>
                    <td>{{viaje.destino}}</td>
                    <td>{{viaje.dia}}</td>
                    <td>{{viaje.horario}}</td>
                    <td>{{viaje.lugares}}</td>
                    <td>{{viaje.mascota}}</td>
                    <td>{{viaje.precio | currency}}</td>
                    <td>
                        <span *ngIf="viaje.disponible==true">Disponible</span>
                        <span *ngIf="viaje.disponible==false">No disponible</span>
                    </td>
                    <td>
                        <ng-container *ngIf="viaje.disponible==true">
                            <app-input-integer [(quantity)]="viaje.quantity" [max]="viaje.lugares"></app-input-integer>
                            <button type="button" class="btn" (click)="addToCart(viaje)">Reservar</button>
                        </ng-container>
                    </td>
                </tr>
                </tbody>
        </table>
    </div>
</div>