<div class="modal-body">
    <h1 class="fs-5 fw-bold ms-5 mt-5">Viajes disponibles</h1>
    <hr>
    <table class='table  table-striped text-center m-1 mb-5'>
        <thead class="table-dark text-center fw-bold text-warning">
            <tr>
                <th>Imagen</th>
                <th>Salida</th>
                <th>Destino</th>
                <th>Día</th>
                <th>Horario</th>
                <th>Lugares</th>
                <th>Acepta Mascota</th>
                <th>Precio</th>
                <th>Disponible</th>
                <th>Reservar lugares</th>  
            <tr>
        </thead>
        <tbody>
            <tr *ngFor="let viaje of viajes" [ngClass]="{'disponible':viaje.disponible}">
                <td><img width="50" class="img.thumbnail" [src]="viaje.images" [alt]="viaje.salida"></td>
                <td>{{viaje.salida}}</td>
                <td>{{viaje.destino}}</td>
                <td>{{viaje.dia}}</td>
                <td>{{viaje.horario}}</td>
                <td>{{viaje.lugares}}</td>
                <td>{{viaje.mascota}}</td>
                <td>{{viaje.precio | currency}}</td>
                <td><span *ngIf="viaje.disponible==true">Disponible</span></td>
                <td><button class="btn btn-light btn-sm" *ngIf="viaje.disponible==true" (click)="downReserva(viaje)">-</button>
                    <input type="text" [(ngModel)]="viaje.reserva" (keyup)="changeReserva($event,viaje)">
                    <button class="btn btn-light btn-sm" *ngIf="viaje.disponible==true"(click)="upReserva(viaje)">+
                </button></td>
            </tr>
    </table>