.container{
    display: block;
}
.card{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

header{
    margin: 0%;
}

h1{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}
