<h1 class="fs-5 fw-bold ms-5 mt-5">Autos cargados</h1>
    <hr>
    <table class='table  table-striped text-center'>
        <thead class="table-dark text-center fw-bold text-info">
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Color</th>
                <th>Patente</th>
                <th>Licencia</th>
        </thead>
        <tbody>
                <tr>
                    <td>{{automoviles.marca}}</td>
                    <td>{{automoviles.modelo}}</td>
                    <td>{{automoviles.anio}}</td>
                    <td>{{automoviles.color}}</td>
                    <td>{{automoviles.patente}}</td>
                    <td>{{automoviles.licencia}}</td>
                </tr>
        </tbody>
        </table>
