input{
    width: 30px;
    justify-content: space-around;
    border:none;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.066);
}
td{
    vertical-align: middle;
}

button{
    background-color: none;
    font-weight: bold;
    font-size: 1.5rem;
}

button:hover{
    background-color: #ffc107;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: solid 1px white;
    width: max-content;
    padding: 3px;
}